
// Divider
.haw .haw-divider {
    height: $rule;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: fore12();
    min-width: 1px;
    margin: 0;
    padding: 0;
}