
.haw .haw-text-area {
    @extend .haw-component;
    box-sizing: border-box;
    height: 3 * $input-height;
    line-height: $line-height;
    border-style: solid;
    border-width: $border 0;
    border-color: transparent;
    border-bottom-color: fore12();
    padding: ($padding - $border - (($line-height - 1) * 0.5 * $rem)) $padding;
    outline:none;
    color: fore87();
    min-width: 4 * $rem;
    &::placeholder {
        color: fore26();
    }
    &:-ms-input-placeholder {
        color: fore26();
    }
    background-color: $back90;
    transition: background-color 0.2s linear, border-color 0.2s linear;
    &.-invalid {
        border-bottom-color: fore54(danger);
    }
    &[disabled] {
        opacity: $alpha-disabled;
        pointer-events: none;
    }
    /*&:hover:not(:focus) {
        background-color: rgba($color-focus, $alpha-overlay);
    }*/
    &:focus {
        border-bottom-color: fore54(primary);
    }
}