body {
    margin: 0;
    padding: 0;
}

.material-icons {
    vertical-align: middle;
}

.wrapper {
    margin: 0;
}
.menu-button {
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.6) !important;
    box-shadow: none;
    border:none;
    left: 0; 
    top: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #24292e;
}
.menu-button:hover {
    background-color: white !important;
}
.glonav {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: -20rem;
    bottom: 0;
    width: 15rem;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: transform 0.2s ease-in-out;
    z-index: 101;
    overflow: auto;
    color: #24292e;
    display: block;
}
.glonav::after {
    display: block;
    width: 1px;
    height: 1em;
    content: '';
}
.glonav.opened {
    transform: translateX(20rem);
}
.glonav-close-button {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
    border:none;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
}
.glonav-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.glonav-header {
    height: 90.6px;
    box-sizing: border-box;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background-color: #343b42;
    color: #fff;
}
.logo {
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 16px;
}
.logo small {
    font-size: 12px;
    font-weight: normal;
    color: #aaa;
}
.glonav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.glonav > ul > li {
    margin: 0;
    padding: 0;
    display: block;
}
.glonav > ul ul > li {
    margin-left: 16px;
}
.glonav > ul li.current {
    color: #5d64b4 !important;
}
.glonav .glonav-close-button {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
    border:none;
    color: #fff;
}
.glonav .glonav-close-button:hover {
    background-color: #506070;
}
.glonav a {
    display: block;
    color: #24292e;
    text-decoration:none;
    padding: 0 8px;
    box-sizing: border-box;
    width: 100%;
    line-height: 2.5rem;
    height: 2.5rem;
}
.glonav span {
    display: block;
    color: #24292e;
    text-decoration:none;
    padding: 0 8px;
    box-sizing: border-box;
    width: 100%;
    line-height: 2.5rem;
    height: 2.5rem;
}
.glonav a:hover {
    background-color: #F0F0F0;
}

.markdown-body {
    padding: 40px 8px 4rem;
}

@media (min-width: 767px) {
    .menu-button {
        display: none;
    }
    .glonav {
        left: 0;
    }
    .glonav-close-button {
        display: none;
    }
    .markdown-body {
        margin-left: 17rem;
        max-width: 40rem;
    }
}
